* *, * ::before, * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Onest-Light";
  src: url(../../sass/base/Onest-Light.ttf);
}
@font-face {
  font-family: "Onest-Regular";
  src: url(../../sass/base/Onest-Regular.ttf);
}
@font-face {
  font-family: "Onest-SemiBold";
  src: url(../../sass/base/Onest-SemiBold.ttf);
}
@font-face {
  font-family: "Onest-Bold";
  src: url(../../sass/base/Onest-Bold.ttf);
}
@font-face {
  font-family: "Onest-Black";
  src: url(../../sass/base/Onest-Black.ttf);
}
body {
  background-color: #282B2A;
  color: #E6E8E4;
  font-family: "Onest-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.page-content {
  padding-top: 60px;
  padding-left: 550px;
}

.error-message {
  font-family: "Onest-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #D93327;
}
.error-message a {
  color: #E6E8E4;
}

.success-message {
  font-family: "Onest-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #407BBE;
}

.menu-container {
  max-width: 365px;
  min-width: 365px;
  height: 100vh;
  color: #E6E8E4;
  position: fixed;
  left: 120px;
  border-right: solid 1px #E6E8E4;
}
.menu-container .logo {
  max-width: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.menu-container .menu-items {
  margin-bottom: 32px;
}
.menu-container .menu-items a {
  text-decoration: none;
  color: inherit;
  font-family: "Onest-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
}
.menu-container .selected {
  font-family: "Onest-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #407BBE;
}

.post-container .post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  max-height: 850px;
  padding: 32px 32px 16px 32px;
  background-color: #E6E8E4;
  color: #282B2A;
  margin-bottom: 16px;
  border-radius: 8px;
}
.post-container .post .content-wrapper .post-image {
  margin-bottom: 12px;
  border-radius: 5px;
}
.post-container .post .content-wrapper .post-title {
  font-family: "Onest-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}
.post-container .post .content-wrapper .post-content {
  margin-bottom: 32px;
}
.post-container .post-signature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #282B2A;
}
.post-container .post-signature .post-date {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.post-container .post-signature .author {
  display: flex;
  align-items: center;
}
.post-container .post-signature .author .user-photo {
  max-width: 60px;
  border-radius: 50%;
}
.post-container .post-signature .author .post-author {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 16px;
}
.post-container .post-signature .author .post-author a {
  text-decoration: none;
  color: #282B2A;
}
.post-container .action {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 64px;
}
.post-container .action .like-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  width: 96px;
}
.post-container .action a {
  text-decoration: none;
  color: #407BBE;
}
.post-container .action a .comment-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.post-container .action a {
  text-decoration: none;
  color: #E6E8E4;
}
.post-container .action a .report-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.post-container .action .delete-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.profile-container {
  max-width: 1250px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 64px;
}
.profile-container .user-photo {
  border-radius: 50%;
  margin-bottom: 20px;
}
.profile-container a {
  text-decoration: none;
}
.profile-container a .change-photo {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  max-width: 180px;
  margin: 0 auto 0 auto;
}
.profile-container .details-container {
  margin-left: 48px;
}
.profile-container .details-container .username {
  font-family: "Onest-Bold", sans-serif;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 12px;
  color: #D93327;
}
.profile-container .details-container .country {
  font-family: "Onest-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
  color: #407BBE;
}
.profile-container .details-container .posts-count {
  margin-bottom: 8px;
}
.profile-container .details-container .followers {
  margin-bottom: 8px;
}
.profile-container .details-container .following {
  margin-bottom: 24px;
}
.profile-container .details-container a {
  text-decoration: none;
}
.profile-container .details-container a .update-details {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 180px;
}
.profile-container .details-container a .delete-account {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  max-width: 180px;
}
.profile-container .details-container .follow-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  max-width: 180px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.comment-error-message {
  font-family: "Onest-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #D93327;
}

.reply-error-message {
  font-family: "Onest-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #D93327;
}

.comment-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.comment-form .comment-content-input {
  max-width: 700px;
  padding: 8px;
  border-radius: 8px;
  border-style: none;
  margin: 24px auto 8px auto;
}
.comment-form .send-comment {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin: 8px auto 32px auto;
}

.sent-comment {
  max-width: 700px;
  padding: 16px;
  background-color: #4A4F4E;
  margin: 32px auto 8px 0;
  border-radius: 8px;
}
.sent-comment .sent-author {
  display: flex;
  justify-content: space-between;
}
.sent-comment .sent-author .sent-country {
  text-transform: lowercase;
}
.sent-comment .sent-author .comment-date {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.sent-comment .sent-content {
  margin-bottom: 6px;
  padding: 8px 8px 8px 0;
}

.comment {
  max-width: 700px;
  padding: 16px;
  background-color: #4A4F4E;
  margin-bottom: 8px;
  border-radius: 8px;
}
.comment .comment-content {
  margin-bottom: 6px;
  padding: 8px 8px 8px 0;
}
.comment .comment-signature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment .comment-signature .author {
  display: flex;
  align-items: center;
}
.comment .comment-signature .user-photo {
  max-width: 50px;
  border-radius: 50%;
  margin-right: 16px;
}
.comment .comment-signature .user-country {
  text-transform: lowercase;
}
.comment .comment-signature .comment-date {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.comment-reply {
  max-width: 620px;
  margin-left: 80px;
}

.comment-action {
  display: flex;
}
.comment-action .reply-button {
  font-family: "Onest-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 2px 12px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.comment-action a {
  text-decoration: none;
  margin: auto 0px auto auto;
}
.comment-action a .report-comment {
  font-family: "Onest-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 2px 12px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.reply-form .reply-input {
  max-width: 700px;
  padding: 8px;
  border-radius: 8px;
  border-style: none;
  margin: 4px auto 8px auto;
}
.reply-form .send-reply-button {
  font-family: "Onest-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 2px 12px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.sent-reply {
  max-width: 700px;
  padding: 16px;
  background-color: #4A4F4E;
  margin: 32px auto 8px 0;
  border-radius: 8px;
}
.sent-reply .sent-reply-author {
  display: flex;
  justify-content: space-between;
}
.sent-reply .sent-reply-author .sent-country {
  text-transform: lowercase;
}
.sent-reply .sent-reply-author .sent-reply-date {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.sent-reply .sent-reply-content {
  margin-bottom: 6px;
  padding: 8px 8px 8px 0;
}

* *, * ::before, * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Onest-Light";
  src: url(../../sass/base/Onest-Light.ttf);
}
@font-face {
  font-family: "Onest-Regular";
  src: url(../../sass/base/Onest-Regular.ttf);
}
@font-face {
  font-family: "Onest-SemiBold";
  src: url(../../sass/base/Onest-SemiBold.ttf);
}
@font-face {
  font-family: "Onest-Bold";
  src: url(../../sass/base/Onest-Bold.ttf);
}
@font-face {
  font-family: "Onest-Black";
  src: url(../../sass/base/Onest-Black.ttf);
}
.footer {
  max-width: 400px;
  margin: 132px auto auto auto;
}
.footer .logo {
  max-width: 150px;
  margin: 0 auto 8px auto;
}
.footer .copyright {
  text-align: center;
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.form .form-input {
  width: 416px;
  margin: 0 auto 32px auto;
  border-radius: 5px;
  border-style: none;
  padding: 8px;
}
.form .form-file {
  margin-bottom: 32px;
}
.form .form-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 32px;
}
.form .form-red-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 32px;
}
.form .form-white-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  max-width: 200px;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
}
a .form-whiteButton {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  max-width: 200px;
}

table {
  table-layout: fixed;
  width: 1100px;
  border-collapse: collapse;
  margin-bottom: 80px;
}

.th-user:nth-child(1) {
  width: 15%;
}

.th-user:nth-child(2) {
  width: 25%;
}

.th-user:nth-child(3) {
  width: 18%;
}

.th-user:nth-child(4) {
  width: 20%;
}

.th-user:nth-child(5) {
  width: 22%;
}

.th-user, .td-user {
  padding: 16px;
  border-bottom: 1px solid #407BBE;
  letter-spacing: 1px;
  text-align: left;
}

.td-user a {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.form {
  margin-top: 16px;
}

tr:hover {
  background-color: #4A4F4E;
}

.th-admin:nth-child(1) {
  width: 15%;
}

.th-admin:nth-child(2) {
  width: 30%;
}

.th-admin:nth-child(3) {
  width: 30%;
}

.th-admin:nth-child(4) {
  width: 25%;
}

.th-admin, .td-admin {
  padding: 16px;
  border-bottom: 1px solid #407BBE;
  letter-spacing: 1px;
  text-align: left;
}

.td-admin a {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.th-admin-3:nth-child(1) {
  width: 50%;
}

.th-admin-3:nth-child(2) {
  width: 25%;
}

.th-admin-3:nth-child(3) {
  width: 25%;
}

.th-admin-3, .td-admin-3 {
  padding: 16px;
  border-bottom: 1px solid #407BBE;
  letter-spacing: 1px;
  text-align: left;
}

tr:hover {
  background-color: #4A4F4E;
}

.user-detail a {
  text-decoration: none;
  color: #E6E8E4;
}
.user-detail a .link-whiteButton {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  max-width: 320px;
  margin: 16px auto 48px 0;
}

.admin-photo {
  border-radius: 50%;
  margin-bottom: 32px;
}

.update-admin-container p {
  margin-bottom: 8px;
}

.blue-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-top: 16px;
}

.heading-1 {
  font-family: "Onest-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 36px;
  letter-spacing: 1px;
}

.heading-2 {
  font-family: "Onest-Bold", sans-serif;
  font-size: 28px;
  line-height: 36px;
  color: #407BBE;
  margin-bottom: 28px;
  letter-spacing: 1px;
}

.heading-4 {
  font-family: "Onest-Bold", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #E6E8E4;
  margin-bottom: 28px;
  letter-spacing: 1px;
}

.see-more {
  max-width: 700px;
  display: flex;
  justify-content: space-around;
}
.see-more .see-more-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  border: solid 3px #407BBE;
}

.body-login {
  background-color: #282B2A;
  color: #E6E8E4;
  font-family: "Onest-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding-top: 129px;
}

.login-container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto auto auto;
  margin-bottom: 200px;
}
.login-container .logo-container {
  max-width: 400px;
}
.login-container .logo-container .logo {
  margin-bottom: 20px;
}
.login-container .logo-container .site-motto {
  text-align: center;
  font-family: "Onest-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 68px;
  letter-spacing: 1.2px;
}
.login-container .form-container {
  max-width: 400px;
}
.login-container .form-container .login-input {
  width: 360px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: none;
  padding: 6px 18px 6px 18px;
}
.login-container .form-container .login-button {
  width: 360px;
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 12px;
}
.login-container .form-container .forgot-password {
  text-align: center;
  margin-bottom: 140px;
}
.login-container .form-container .forgot-password a {
  color: #407BBE;
  text-decoration: none;
}
.login-container .form-container .reg-button-container {
  text-align: center;
}
.login-container .form-container .reg-button-container a {
  color: #E6E8E4;
  text-decoration: none;
}
.login-container .form-container .reg-button-container a .register-button {
  width: 280px;
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin: 12px auto 0px auto;
}

.body-register {
  background-color: #282B2A;
  color: #E6E8E4;
  font-family: "Onest-Regular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding-top: 60px;
}

.register-container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto auto auto;
}
.register-container .logo-container {
  max-width: 400px;
}
.register-container .logo-container .logo {
  margin-bottom: 20px;
}
.register-container .logo-container .site-motto {
  text-align: center;
  font-family: "Onest-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 68px;
  letter-spacing: 1.2px;
}
.register-container .form-container {
  max-width: 400px;
}
.register-container .form-container .register-input {
  width: 360px;
  margin-bottom: 12px;
  border-radius: 5px;
  border-style: none;
  padding: 2px 18px 2px 18px;
}
.register-container .form-container .register-select {
  width: 360px;
  margin-bottom: 12px;
  border-radius: 5px;
  border-style: none;
  padding: 5px 18px 5px 18px;
}
.register-container .form-container .captcha {
  margin: 12px 0 12px 0;
}
.register-container .form-container .register-button {
  width: 360px;
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-bottom: 60px;
}
.register-container .form-container .login-button-container {
  text-align: center;
}
.register-container .form-container .login-button-container a {
  color: #E6E8E4;
  text-decoration: none;
}
.register-container .form-container .login-button-container a .login-button {
  width: 280px;
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin: 12px auto 0px auto;
}

.admin-action-area {
  margin-bottom: 64px;
}

ul {
  list-style: none;
}
ul li {
  max-width: 280px;
  margin-bottom: 24px;
}
ul .admin-blue-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #407BBE;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
ul .admin-blue-button a {
  color: #E6E8E4;
}
ul .admin-white-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #407BBE;
  text-align: center;
  background-color: #E6E8E4;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
ul .admin-white-button a {
  color: #407BBE;
}
ul .admin-red-button {
  font-family: "Onest-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E6E8E4;
  text-align: center;
  background-color: #D93327;
  padding: 8px 18px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
ul .admin-red-button a {
  color: #E6E8E4;
}/*# sourceMappingURL=main.css.map */