@mixin redButton {
    @include heading-18;
    letter-spacing: 0.5px;
    color: $white;
    text-align: center;
    background-color: $red;
    padding: 8px 18px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

@mixin blueButton {
    @include heading-18;
    letter-spacing: 0.5px;
    color: $white;
    text-align: center;
    background-color: $blue;
    padding: 8px 18px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

@mixin whiteButton {
    @include heading-18;
    letter-spacing: 0.5px;
    color: $blue;
    text-align: center;
    background-color: $white;
    padding: 8px 18px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

@mixin smallRedButton {
    @include body-16;
    color: $white;
    text-align: center;
    background-color: $red;
    padding: 2px 12px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

@mixin smallBlueButton {
    @include body-16;
    color: $white;
    text-align: center;
    background-color: $blue;
    padding: 2px 12px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

@mixin smallWhiteButton {
    @include body-16;
    color: $blue;
    text-align: center;
    background-color: $white;
    padding: 2px 12px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}