@charset "utf-8";

@import "./partials/general";
@import "./partials/menu";
@import "./partials/post";
@import "./partials/profile";
@import "./partials/comments";
@import "./partials/footer";
@import "./partials/forms";

@import "./components/headings";
@import "./components/seeMoreButton";

@import "./pages/login.scss";
@import "./pages/register.scss";
