@font-face {
    font-family: 'Onest-Light';
    src: url(../../sass/base/Onest-Light.ttf);
}

@font-face {
    font-family: 'Onest-Regular';
    src: url(../../sass/base/Onest-Regular.ttf);
}

@font-face {
    font-family: 'Onest-SemiBold';
    src: url(../../sass/base/Onest-SemiBold.ttf);
}

@font-face {
    font-family: 'Onest-Bold';
    src: url(../../sass/base/Onest-Bold.ttf);
}

@font-face {
    font-family: 'Onest-Black';
    src: url(../../sass/base/Onest-Black.ttf);
}

@mixin display {
    font-family: 'Onest-Black', sans-serif;
    font-size: 56px;
    line-height: 64px;
}

@mixin heading-48 {
    font-family: 'Onest-Black', sans-serif;
    font-size: 48px;
    line-height: 64px;
}

@mixin heading-36 {
    font-family: 'Onest-Bold', sans-serif;
    font-size: 36px;
    line-height: 48px;
}

@mixin heading-28 {
    font-family: 'Onest-Bold', sans-serif;
    font-size: 28px;
    line-height: 36px;
}

@mixin heading-24 {
    font-family: 'Onest-Bold', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

@mixin heading-20 {
    font-family: 'Onest-Bold', sans-serif;
    font-size: 20px;
    line-height: 32px;
}

// buttons font
@mixin heading-18 {
    font-family: 'Onest-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

@mixin heading-16 {
    font-family: 'Onest-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

// menu hover font
@mixin body-18 {
    font-family: 'Onest-Regular', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

@mixin body-16 {
    font-family: 'Onest-Regular', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

@mixin body-14 {
    font-family: 'Onest-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

@mixin label {
    font-family: 'Onest-SemiBold', sans-serif;
    font-size: 14px;
    line-height: 20px;
}