.user-detail {

    a   {
        text-decoration: none;
        color: $white;
    
        .link-whiteButton {
            @include whiteButton;
            max-width: 320px;
            margin: 16px auto 48px 0;
        }
    }
}

.admin-photo {
    border-radius: 50%;
    margin-bottom: 32px;
}

.update-admin-container {

    p {
        margin-bottom: 8px;
    }
}

.blue-button {
    @include blueButton;
    margin-top: 16px;
}