.hide {
    display: none;
}

.comment-error-message {
    @include body-18;
    color: $red;
}

.reply-error-message {
    @include body-18;
    color: $red;
}

.comment-form {
    max-width: 700px;
    display: flex;
    flex-direction: column;

    .comment-content-input {
        max-width: 700px;
        padding: 8px;
        border-radius: 8px;
        border-style: none;
        margin: 24px auto 8px auto;
    }

    .send-comment {
        @include blueButton;
        margin: 8px auto 32px auto;
    }
}

.sent-comment {
    max-width: 700px;
    padding: 16px;
    background-color: #4A4F4E;
    margin: 32px auto 8px 0;
    border-radius: 8px;

    .sent-author {
        display: flex;
        justify-content: space-between;

        .sent-country {
            text-transform: lowercase;
        }

        .comment-date {
            @include label;
        }
    }

    .sent-content {
        margin-bottom: 6px;
        padding: 8px 8px 8px 0;
    }
}

.comment {
    max-width: 700px;
    padding: 16px;
    background-color: #4A4F4E;
    margin-bottom: 8px;
    border-radius: 8px;

    .comment-content {
        margin-bottom: 6px;
        padding: 8px 8px 8px 0;
    }

    .comment-signature {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .author {
            display: flex;
            align-items: center;
        }

        .user-photo {
            max-width: 50px;
            border-radius: 50%;
            margin-right: 16px;
        }

        .user-country {
            text-transform: lowercase;
        }

        .comment-date {
            @include label;
        }
    }
}

.comment-reply {
    max-width: 620px;
    margin-left: 80px;
}

.comment-action {
    display: flex;

    .reply-button {
        @include smallBlueButton;
    }

    a {
        text-decoration: none;
        margin: auto 0px auto auto;

        .report-comment {
            @include smallRedButton;
        }
    }
}

.reply-form {

    .reply-input {
        max-width: 700px;
        padding: 8px;
        border-radius: 8px;
        border-style: none;
        margin: 4px auto 8px auto;
    }

    .send-reply-button {
        @include smallBlueButton;
        margin-bottom: 16px;
    }
}

.sent-reply {
    max-width: 700px;
    padding: 16px;
    background-color: #4A4F4E;
    margin: 32px auto 8px 0;
    border-radius: 8px;

    .sent-reply-author {
        display: flex;
        justify-content: space-between;

        .sent-country {
            text-transform: lowercase;
        }

        .sent-reply-date {
            @include label;
        }
    }

    .sent-reply-content {
        margin-bottom: 6px;
        padding: 8px 8px 8px 0;
    }
}