.form {
    
    .form-input {
        width: 416px;
        margin: 0 auto 32px auto;
        border-radius: 5px;
        border-style: none;
        padding: 8px;
    }

    .form-file {
        margin-bottom: 32px;
    }

    .form-button {
        @include blueButton;
        margin-bottom: 32px;
        margin-top: 32px
    }

    .form-red-button {
        @include redButton;
        margin-bottom: 32px;
    }

    .form-white-button {
        @include whiteButton;
        max-width: 200px;
        margin-bottom: 32px;
    }
}

a   {
    text-decoration: none;

    .form-whiteButton {
        @include whiteButton;
        max-width: 200px;
    }
}