@import "../abstracts/main";

body {
    background-color: $gray;
    color: $white;
    @include body-16;
}

.page-content {
    padding-top: 60px;
    padding-left: 550px;
}

.error-message {
    @include body-18;
    color: $red;

    a {
        color: $white;
    }
}

.success-message {
    @include body-18;
    color: $blue;
}