.menu-container {
    max-width: 365px;
    min-width: 365px;
    height: 100vh;
    color: $white;
    position: fixed;
    left: 120px;
    border-right: solid 1px $white;

    .logo {
        max-width: 300px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .menu-items {
        margin-bottom: 32px;

        a {
            text-decoration: none;
            color: inherit;
            @include body-18;
            letter-spacing: 1px;
        }
    }
    .selected {
        @include body-18;
        color: $blue;
    }
}






