table {
    table-layout: fixed;
    width: 1100px;
    border-collapse: collapse;
    margin-bottom: 80px;
}

.th-user:nth-child(1) {
    width: 15%;
}
  
.th-user:nth-child(2) {
    width: 25%;
}
  
.th-user:nth-child(3) {
    width: 18%;
}

.th-user:nth-child(4) {
    width: 20%;
}

.th-user:nth-child(5) {
    width: 22%;
}
  
.th-user, .td-user {
    padding: 16px;
    border-bottom: 1px solid $blue;
    letter-spacing: 1px;
    text-align: left;
}

.td-user {
    a{
        @include whiteButton;
    }
}

.form {
    margin-top: 16px;
}

tr:hover {
    background-color: #4A4F4E;
}
  